PORT=5000
BASE_URL=your_base_url(localhost5000)
FRONTEND_URL=your_frontend_url(localhost3000)
DATABASE_URL=your_postgresql_url
JWT_SECRET=your_secret
JWT_REFRESH_SECRET=your_refresh_secret

EMAIL_USER=your_email
EMAIL_PASS=your_app_password